<mat-card class="stat-card">
  <div class="stat-card-gradient" [style.background]="'linear-gradient(to right, ' + gradientStart + ', ' + gradientEnd + ')'"></div>
  
  <mat-card-content class="stat-card-content">
    <div class="stat-info">
      <p class="stat-title">{{ title }}</p>
      <div class="stat-value-container">
        @if (!isLoading) {
        <h3 class="stat-value">
          <app-animated-counter [value]="value"></app-animated-counter>
        </h3>
        @if (isLoading) {
        <mat-spinner diameter="24"></mat-spinner>
        <span class="percent-change" [class.positive]="isPositiveChange" [class.negative]="!isPositiveChange">
          {{ formattedPercentChange }}
        </span>
      }
    }
      </div>
      @if (previousValue) {
      <p class="previous-value">{{ previousValue }}</p>
      }
    </div>
    
    <div class="stat-icon" [style.background-color]="iconColor + '10'">
      <mat-icon [color]="iconColor">{{ icon }}</mat-icon>
    </div>
  </mat-card-content>
  
  @if (!isLoading) {
  <div class="stat-chart">
    @if (chartType === 'line') {
    <ngx-charts-line-chart
      [results]="[{name: title, series: chartData}]"
      [animations]="chartOptions.animations"
      [xAxis]="chartOptions.showXAxis"
      [yAxis]="chartOptions.showYAxis"
      [legend]="chartOptions.showLegend"
      [showXAxisLabel]="chartOptions.showXAxisLabel"
      [showYAxisLabel]="chartOptions.showYAxisLabel"
      [gradient]="chartOptions.gradient"
      [scheme]="chartOptions.colorScheme"
      [autoScale]="true">
    </ngx-charts-line-chart>
  }
    
  @if (chartType === 'bar') {
    <ngx-charts-bar-vertical
      [results]="chartData"
      [animations]="chartOptions.animations"
      [xAxis]="chartOptions.showXAxis"
      [yAxis]="chartOptions.showYAxis"
      [legend]="chartOptions.showLegend"
      [showXAxisLabel]="chartOptions.showXAxisLabel"
      [showYAxisLabel]="chartOptions.showYAxisLabel"
      [gradient]="chartOptions.gradient"
      [scheme]="chartOptions.colorScheme"
      [roundEdges]="true">
    </ngx-charts-bar-vertical>
  }
    
  @if (chartType === 'area') {
    <ngx-charts-area-chart
      [results]="[{name: title, series: chartData}]"
      [animations]="chartOptions.animations"
      [xAxis]="chartOptions.showXAxis"
      [yAxis]="chartOptions.showYAxis"
      [legend]="chartOptions.showLegend"
      [showXAxisLabel]="chartOptions.showXAxisLabel"
      [showYAxisLabel]="chartOptions.showYAxisLabel"
      [gradient]="chartOptions.gradient"
      [scheme]="chartOptions.colorScheme"
      [autoScale]="true">
    </ngx-charts-area-chart>
  }
  </div>
}
</mat-card>
