<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4 mt-4">
    <div class="grid grid-cols-2 gap-4">
        <mat-form-field appearance="outline" class="w-full" dir="rtl">
            <mat-label>שם פרטי</mat-label>
            <input matInput formControlName="firstName">
            @if (registerForm.get('firstName')?.hasError('required')) {
            <mat-error>שם פרטי הוא שדה חובה</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" dir="rtl">
            <mat-label>שם משפחה</mat-label>
            <input matInput formControlName="lastName">
            @if (registerForm.get('lastName')?.hasError('required')) {
            <mat-error>שם משפחה הוא שדה חובה</mat-error>
            }
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-full" dir="rtl">
        <mat-label>דוא״ל</mat-label>
        <input matInput type="email" formControlName="email" placeholder="your@email.com">
        <mat-icon matPrefix>email</mat-icon>
        @if (registerForm.get('email')?.hasError('required')) {
        <mat-error>דוא״ל הוא שדה חובה</mat-error>
        }
        @if (registerForm.get('email')?.hasError('email')) {
        <mat-error *ngIf="">אנא הזן כתובת דוא״ל תקינה</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full" dir="rtl">
        <mat-label>סיסמה</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (registerForm.get('password')?.hasError('required')) {
        <mat-error>סיסמה היא שדה חובה</mat-error>
        }
        @if (registerForm.get('password')?.hasError('minlength')) {
        <mat-error>הסיסמה חייבת להכיל לפחות 8 תווים</mat-error>
        }
    </mat-form-field>
    <p class="text-xs text-gray-500 mt-1">הסיסמה חייבת להכיל לפחות 8 תווים, אות גדולה, מספר וסימן מיוחד</p>

    <div class="flex items-center justify-end">
        <mat-checkbox formControlName="terms" color="primary" class="text-right">
            אני מסכים/ה לתנאי השימוש ולמדיניות הפרטיות
        </mat-checkbox>
    </div>

    <button mat-raised-button color="primary" type="submit" class="w-full bg-gradient-to-r from-blue-600 to-indigo-600">
        הרשמה
    </button>
</form>